*{margin:0px;padding:0px;}
ul{list-style:none;}
a{text-decoration:none;color:#917F5F}
a:hover{color:#5d4b2c}
body{font-family:"微软雅黑";font-size:12px;background:url(../images/bg_1.jpg);min-width:1349px;color:#917F5F}
/* container start */
.container{width:960px;margin:0px auto;border-left: #b29c77 10px solid;border-right: #b29c77 10px solid;box-shadow: 0px -4px 6px 4px #726758;}
/* header start */
.header{width:960px;height:290px;background:url(../images/bg_3.jpg);margin:0px auto;position:relative;}
.header .text_1_png{position: absolute;top: 89px;left: 225px;}
.header .nav{width:686px;height:40px;position: absolute;bottom:5px;right: 0px;}
.header .nav ul a{color:#fff}
.header .nav ul li{width:88px;height:40px;float:left;text-align:center;line-height:40px;font-size:16px;}
.header .nav ul li:first-child{background:#9ACC99;border-radius:0px 40px;}
.header .nav ul .li_hover:hover{background:#E5B91C;border-radius:40px 0px;/* 过渡效果 start */-webkit-transition: all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;/* end 过渡效果 */}
.header .nav ul li:hover{cursor:pointer;}
.header .nav ul .last_child{width:144px;}
.header .nav ul li .search_input{border:0;outline:0;width:110px;height:25px;font-family:"微软雅黑";font-size:14px;float:left;margin-top:8px;margin-left:5px;padding:0px 2px 0px 2px;color:#E3D6C3}
.header .nav ul li .search_png{background:url(../images/search.png);border:1px solid #eee;width:23px;height:23px;float:left;margin-top:8px;}
/* end header */
/* content start */
.content{width:960px;background-color:#E3D6C3;overflow:auto;padding-bottom:30px;}
/* left_content start */
.content .left_content{width:210px;margin-left:13px;float:left;}
.content .left_content .box_1{width:210px;border:1px solid red;border: #B19C76 1px solid;background: #F7F3EE;}
.content .left_content .box_1 .box_1_top{width:210px;height:30px;background:url(../images/bg_4.jpg) repeat-x;}
.content .left_content .box_1 .box_1_top .head_info{color:#8B745C;font-weight:bold;margin-left:5px;}
.content .left_content .box_1 .photo{margin:0px 0px 10px 10px}
.content .left_content .box_1 .box_1_content{margin-bottom:10px;}
.content .left_content .box_1 .box_1_content p{margin:5px 0px 0px 10px;color:#917F5F}
.content .left_content .box_2{width:210px;border:1px solid red;border: #B19C76 1px solid;background: #F7F3EE;margin-top:10px;}
.content .left_content .box_2 .box_2_top{width:210px;height:30px;background:url(../images/bg_4.jpg) repeat-x;}
.content .left_content .box_2 .box_2_top .head_info{color:#8B745C;font-weight:bold;margin-left:5px;}
.content .left_content .box_2 .box_2_content{margin-left:10px}
.content .left_content .box_2 .box_2_content ul li{margin-bottom:5px;border-bottom: solid 1px #eee}
.content .left_content .box_3{width:210px;border:1px solid red;border: #B19C76 1px solid;background: #F7F3EE;margin-top:10px;overflow:auto}
.content .left_content .box_3 .box_3_top{width:210px;height:30px;background:url(../images/bg_4.jpg) repeat-x;}
.content .left_content .box_3 .box_3_top .head_info{color:#8B745C;font-weight:bold;margin-left:5px;}
.content .left_content .box_3 .box_3_content{margin-left:10px;}
.content .left_content .box_3 .box_3_content ul li{width:80px;float:left;margin:0px 0px 5px 10px;text-align:center;font-weight:bold;border-radius:2px;}
.content .left_content .box_3 .box_3_content ul li a{color:#fff}
.content .left_content .box_3 .box_3_content ul li a:hover{color:#5d4b2c}
.content .left_content .box_4{width:210px;border:1px solid red;border: #B19C76 1px solid;background: #F7F3EE;margin-top:10px;overflow:auto;}
.content .left_content .box_4 .box_4_top{width:210px;height:30px;background:url(../images/bg_4.jpg) repeat-x;}
.content .left_content .box_4 .box_4_top .head_info{color:#8B745C;font-weight:bold;margin-left:5px;}
.content .left_content .box_4 .box_4_content{margin:0px 0px 5px 10px;}
.content .left_content .box_5{width:210px;border:1px solid red;border: #B19C76 1px solid;background: #F7F3EE;margin-top:10px;overflow:auto;}
.content .left_content .box_5 .box_5_top{width:210px;height:30px;background:url(../images/bg_4.jpg) repeat-x;}
.content .left_content .box_5 .box_5_top .head_info{color:#8B745C;font-weight:bold;margin-left:5px;}
.content .left_content .box_5 .box_5_content{margin:0px 0px 5px 10px;}
.content .left_content .box_5 .box_5_content ul li{width:80px;float:left;margin:0px 0px 5px 10px;text-align:center;font-weight:bold;border-radius:2px;}
/* end left_content */
/* start right_content */
.content .right_content{width:710px;float:left;margin:0px 0px 0px 10px;}
.content .right_content .box_1{width:710px;border: #B19C76 1px solid;background: #F7F3EE;overflow:auto;}
.content .right_content .box_1 .box_1_top{width:710px;height:30px;background:url(../images/bg_4.jpg) repeat-x;}
.content .right_content .box_1 .box_1_top .head_info{color:#8B745C;font-weight:bold;margin-left:5px;}
.content .right_content .box_1 .box_1_content_1 ._1{width:685px;height:35px;margin:0px auto;line-height:35px;font-size:20px;font-weight:bold}
.content .right_content .box_1 .box_1_content_1 ._2{width:685px;height:20px;border-bottom:1px solid #B19C76;margin:1px auto;padding-bottom:10px;}
.content .right_content .box_1 .box_1_content_1 ._2 ul li{float:left;margin-right:15px;line-height:20px;}
.content .right_content .box_1 .box_1_content_1 ._2 ul li .iconfont{font-size:14px;}
.content .right_content .box_1 .box_1_content_2{width:685px;margin:0px auto;margin-top:10px;margin-bottom:10px;font-size:16px;line-height:200%}
.content .right_content .box_1 .box_1_content_2 img{max-width:685px;}

.content .right_content .box_1 .box_1_content_3{width:685px;margin:0px auto;font-size:16px;}
.content .right_content .box_1 .box_1_content_3 .iconfont{font-size:16px;}
.content .right_content .box_1 .box_1_content_4{width:685px;height:180px;border-bottom:1px solid #B19C76;margin:0px auto;overflow:auto}
/* 插入百度分享代码 start */
.content .right_content .box_1 .box_1_content_4 .bdsharebuttonbox{border:#B19C76 1px solid;width:191px;margin:40px 0px 0px 350px;display:none;border-radius:3px;box-shadow: 3px 3px 5px #888888;}
.content .right_content .box_1 .box_1_content_4 .bdsharebuttonbox .bds_qzone{margin-left:5px;}
/* end 插入百度分享代码 */
.content .right_content .box_1 .box_1_content_4 ._1{width:340px;height:44px;margin:0px auto;margin-top:83px}
.content .right_content .box_1 .box_1_content_4 ._1 .left{width:165px;height:44px;background:#f78585;float:left;font-size:16px;text-align:center;line-height:44px;color:#fff}
.content .right_content .box_1 .box_1_content_4 ._1 .left:hover{cursor:pointer;background-color:#f77575}
.content .right_content .box_1 .box_1_content_4 ._1 .right{width:165px;height:44px;background:#5fcec0;float:left;font-size:16px;text-align:center;line-height:44px;color:#fff;margin-left:10px;}
.content .right_content .box_1 .box_1_content_4 ._1 .right:hover{cursor:pointer;background-color:#60c3b7}
.content .right_content .box_1 .box_1_content_4 ._1 .or{width:36px;height:36px;text-align:center;background-color:#fff;position: relative;left: 152px;top:-40px;border-radius:18px;overflow:auto;line-height:36px;}
.content .right_content .box_1 .box_1_content_4 .iconfont{font-size:20px;}
.content .right_content .box_1 .box_1_content_5{width:685px;height:50px;margin:0px auto;font-size:14px;line-height:50px;}
.content .right_content .box_1 .box_1_content_5 .iconfont{font-size:14px;color:#bbb}
.content .right_content .box_1 .box_1_content_5 .left{width:340px;float:left;height:50px;}
.content .right_content .box_1 .box_1_content_5 .right{width:340px;float:right;text-align:right;height:50px;}
.content .right_content .box_2{width:710px;border: #B19C76 1px solid;background: #F7F3EE;overflow:auto;margin-top:10px;}
.content .right_content .box_2 .box_2_top{width:710px;height:30px;background:url(../images/bg_4.jpg) repeat-x;}
.content .right_content .box_2 .box_2_top .head_info{color:#8B745C;font-weight:bold;margin-left:5px;}
.content .right_content .box_2 .really_remark{width:685px;margin:0px auto}
.content .right_content .box_2 .really_remark .wc_ul .wc_li{width:685px;font-size:14px;overflow:auto;margin-bottom:20px}
.content .right_content .box_2 .really_remark .wc_ul .wc_li .yk_img{float:left;}
.content .right_content .box_2 .really_remark .wc_ul .wc_li .sjx{width:0;height:0;border-width:4px 8px 4px 0px;border-style:solid;border-color:transparent #eee transparent transparent;/*透明 灰 透明 透明 */position:relative;display:inline-block;float:left;margin:14px 0px 0px 3px;float:left}
.content .right_content .box_2 .really_remark .wc_ul .wc_li .remark_content{width:624px;background-color:#eee;float:left;border-radius:5px;}
.content .right_content .box_2 .really_remark .wc_ul .wc_li .remark_content ._1{width:600px;min-height:50px;display:block;margin:2px auto}
.content .right_content .box_2 .really_remark .wc_ul .wc_li .remark_content ._2{width:600px;display:block;margin:0px auto;overflow:auto}
.content .right_content .box_2 .really_remark .wc_ul .wc_li .remark_content ._2 ul li{float:left;font-size:12px;margin:10px 10px 0px 0px;}
.content .right_content .box_2 .really_remark .wc_ul .wc_li .remark_content ._2 ul li .iconfont{font-size:12px;}
.content .right_content .box_2 .box_2_content_1{width:685px;margin:0px auto;}
.content .right_content .box_2 .box_2_content_1 .textarea_box{width:673px;border:1px solid #eee;margin:0px auto;background-color:#fff;min-height:80px;font-size: 14px;padding: 5px 5px 5px 5px;outline: none}
.content .right_content .box_2 .box_2_content_2{width:685px;height:40px;margin:0px auto;}
.content .right_content .box_2 .box_2_content_2 .left{font-size:14px;margin-top:5px;float:left}
.content .right_content .box_2 .box_2_content_2 .left .hover{float:left;margin-top:3px;}
.content .right_content .box_2 .box_2_content_2 .left .iconfont{font-size:16px;}
.content .right_content .box_2 .box_2_content_2 .left .text{margin:2px 5px 0px 2px;}
.content .right_content .box_2 .box_2_content_2 .left .hover:hover{cursor:pointer;color:#5d4b2c;}
.content .right_content .box_2 .box_2_content_2 .left .face{display:inline-block;float:left;display:none;}
.content .right_content .box_2 .box_2_content_2 .left .face ul{height:30px;line-height:30px;background-color:#eee;border-radius:5px;}
.content .right_content .box_2 .box_2_content_2 .left .face ul li{float:left;margin:3px 3px 0px 4px }
.content .right_content .box_2 .box_2_content_2 .left .face ul li:hover{cursor:pointer;}
.content .right_content .box_2 .box_2_content_2 .all_right{height:30px;margin-top:5px;float:right;}
.content .right_content .box_2 .box_2_content_2 .all_right .load_tip, .ok_tip{margin:5px 5px 0px 0px;float:left;display:none}

.content .right_content .box_2 .box_2_content_2 .all_right .tip{display:inline-block;height:30px;text-align:center;line-height:30px;color:red;margin-right:10px;float:left;}
.content .right_content .box_2 .box_2_content_2 .all_right .right{width:100px;height:30px;background-color:#5fbaac;border-radius:1px;color:#fff;text-align:center;line-height:30px;border-radius:3px;float:right;}
.content .right_content .box_2 .box_2_content_2 .right:hover{cursor:pointer;background-color:#56c4b3}
.content .right_content .box_2 .box_2_content_3{width:685px;height:100px;margin:20px auto;display:none}
.content .right_content .box_2 .box_2_content_3 .left{width:200px;height:100px;border-right:dotted 1px #ccc;font-size:14px;font-weight:bold;text-align:center;line-height:100px;float:left}
.content .right_content .box_2 .box_2_content_3 .right{height:80px;float:left;margin:10px 0px 0px 20px;font-size:14px;}
.content .right_content .box_2 .box_2_content_3 .right input{width:200px;height:30px;outline:none;margin-top:5px;font-family:"微软雅黑";padding:0px 5px 0px 5px}
/* end right_content */
/* end content */
/* footer start */
.footer{width:960px;background-color:#E3D6C3;text-align:center;padding:10px 0px 5px 0px;color:#8B745C;}
.footer .sx{border-right:1px solid #8B745C;height:9px;display:inline-block;width:1px;}
/* end footer */
/* end container */
/* 左边部分时钟代码 start */
#left_service{width:180px;height:650px;}
#left_service ._1{width:24px;height:300px;margin:0px auto;background:url(../images/bg_6.png) -9px -39px}
#left_service ._2{width:30px;height:30px;margin:0px auto;border-radius:15px;}
#left_service ._2 img{border-radius:15px;}
#left_service ._2 img:hover{cursor:pointer}
#left_service ._2 .img_robot{display:none}
#left_service ._3{width:150px;height:150px;border:2px solid #9c8768;margin:0px auto;margin-top:30px;display:none}
#left_service ._4{width:168px;height:400px;border:2px solid #9c8768;margin-top:10px;display:none}
#left_service ._4 ._4_1{width:168px;height:35px;color:#fff;text-align:center;font-size:18px;line-height:35px;border-bottom:2px solid #9c8768;}
#left_service ._4 ._4_1 .iconfont{font-size:25px;}
#left_service ._4 ._4_1 span{margin-left:5px;}
#left_service ._4 ._4_2{width:168px;height:332px;border-bottom:2px solid #9c8768;color:#fff;overflow-x:hidden}
#left_service ._4 input{border:0;outline:0;height:25px;color:#917F5F;padding:0px 5px 0px 5px;width:153px;margin:2px 2px 2px 2px;font-family:"微软雅黑"}
#left_service ._4 ._4_2 ul li{margin:2px 0px 5px 0px}
#left_service ._4 ._4_2 .s_robot{width:168px;overflow:auto}
#left_service ._4 ._4_2 .s_robot .iconfont{float:left}
#left_service ._4 ._4_2 .s_robot .sjx{width:0;height:0;border-width:4px 8px 4px 0px;border-style:solid;border-color:transparent #15a287 transparent transparent;/*透明 灰 透明 透明 */position:relative;display:inline-block;float:left;margin:5px 0px 0px 3px;}
#left_service ._4 ._4_2 .s_robot .s_anwser{display:block;max-width:112px;float:left;border-radius:3px;background-color:#15a287;padding:2px;}
#left_service ._4 ._4_2 .s_people{float:right}
#left_service ._4 ._4_2 .s_people .s_question{display:block;float:left;border-radius:3px;background-color:#d9534f;max-width:111px;padding:2px;}
#left_service ._4 ._4_2 .s_people .sjx{width:0;height:0;border-width:4px 0 4px 8px;border-style:solid;border-color:transparent transparent transparent #d9534f;/*透明 透明 透明 灰*/position:relative;display:inline-block;float:left;margin:5px 3px 0px 0px;}
#left_service ._4 ._4_2 .s_people .inconfont{float:left}
#left_service ._4 ._4_2 .iconfont{color:#d0c5b6;}
/* 设置滚动条样式 start */
#left_service ._4 ._4_2::-webkit-scrollbar {width: 5px;height:100px}
#left_service ._4 ._4_2::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);border-radius: 10px;}
#left_service ._4 ._4_2::-webkit-scrollbar-thumb {border-radius: 10px;background: rgba(0,0,0,0.1);-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);}
/* end 设置滚动条样式 */
/* end 左边部分时钟代码 */